
#dov{ display: flex;
justify-content: center;}
body{
    background: linear-gradient(90deg, yellow,brown );
}
h1{
    color: rgb(92, 43, 43);
}
h2{
    color: rgb(92, 43, 43);
}
h3{
    color: rgb(92, 43, 43);
}
h4{
    color: rgb(92, 43, 43);
}
p{
    font-size: large;
    color: black;
}
mark{
    background-color: brown;
}

#btn-java{
    background-color: rgb(224, 129, 129);
}

#imgRedonda{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transition: all 1.5s;
    border-style: solid;
    border-color: rgb(92, 43, 43);
    border-width: 7px;
}
#imgRedonda:hover{
    border-radius: 10%;
    transition: all 1.5s;
    border-style: solid;
    border-color: rgb(92, 43, 43);
    border-width: 7px;
}

nav{
    display: flex;
    width: 99.98%;
    height: 60px;
    margin-left: 10px;
    background: linear-gradient(90deg, brown, yellow);
}

.navigation{
    display: flex;
}

.navigation li{
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-left: 400px;
    font-size: large;
}

.navigation li a{
    font-size: 15px;
    font-family: 'lato', sans-serif;
    color: brown;

}

.navigation li a:hover{
    background-color: yellow;
    color: brown;
    border-radius: 15%;
    transition: 0.1s;
}


#dov-shopee{
    display: flex;
    justify-content: center;
}

#dov{
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
table{
    align-items: center;
    justify-content: center;
    width: 900px;
}

thead{
    background-color: silver;
}

tbody{
    background-color: black;
}

tbody td{
    color: white;
}


.link-bio{
    display: flex;  
    align-items: center;
}
#dov-insta{
    display: flex;
    justify-content: center;
    color: brown;
    margin-top: 0%;
}
#dov-spotify{
    display: flex;
    justify-content: center;
    color: brown;
    margin-top: 0%;
    align-content:space-between ;
}
#dov-img{
    border-radius: 0%;
    width: 80px;
    height: 80px;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
}
